<% @artists.each do |artist| %>
<h1><%= artist.name %> - <%= artist.song_count %> songs</h1>
  <ul>
  <% artist.songs.each do |song| %>
    <li> <%= link_to song.title, song %> </li>
  <% end %>
  </ul>
<% end %>
